<%- include("partials/header") %>
<div class="signup-form">
    <form action="" method="post">
		<h2>Login</h2>
		<p class="hint-text">No account ? Create your account. It's free and only takes a minute. <a href="/signup" > register</a></p>

        <div class="form-group">
        	<input type="email" class="form-control" name="email" placeholder="Email" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required="required">
        </div>
    
		<div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Login Now</button>
        </div>
    </form>
</div>
<%- include("partials/footer") %></form>